

.collapse {
  display: block;/* required by react-ui-tree but boostrap will hide it by default */
}

.tree {
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #21252B;
  position: fixed;
}

.tree h3 {
  color: white;
}

.m-node.placeholder {
  border: 1px dashed #1385e5;
}
.m-node .inner {
  color: #9DA5B4;
  font-size: 12px;
  font-family: Menlo;
}
.m-node .node {
  display: inline-block;
  width: 100%;
  padding: 4px 5px;
}
.m-node .node.is-active {
  background-color: #31363F;
}

.editor {
  top: 0;
  bottom: 0;
  position:fixed;
  overflow-y:scroll;
  background-color: #F6F6F6;
}

    
.m-node .caret-right:before {
  content: '\25B8';
}
.m-node .caret-down:before {
  content: '\25BE';
}

